@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Client Service</h1>
    <p class="lead">Manage your clients and users efficiently</p>
    
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">👥 Clients</h5>
                    <p class="card-text">Manage client information, contacts, and addresses</p>
                    <a href="/Clients" class="btn btn-primary">Go to Clients</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">🔐 Users</h5>
                    <p class="card-text">Manage system users, roles, and permissions</p>
                    <a href="/Users" class="btn btn-success">Go to Users</a>
                </div>
            </div>
        </div>
    </div>
</div>


